# Archivos de compilación
*.o
*.d
*.map
*.axf
*.elf
*.bin
*.hex

# Directorios de build generados por MCUXpresso
Debug/
Release/
build*/

# Archivos temporales y de logs
*.log
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de backup
*~
